h1{
    font-family: 'Patrick Hand', cursive;
    font-size: 60px;
    text-align: center; 
    background-color: antiquewhite;
    height: 75px;
    display: flex;
    justify-content: center;
}
h2{
    font-size: 20px;
    background-color: rgb(177, 173, 173);
    width: 200px;
}
select{
    text-align: center;
    font-size:25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14px;
    background-color: rgb(184, 188, 189);

    }
img{
    width: 200px;
    height: 200px;
    align-self:center;
}
p{
    font-size: medium;
    width: 200px;
    height: 70px;
}
.page{
font-size:x-large;
background-color: lightblue;
margin-top: 20px;

}
#photo-template {
    display: inherit;
    justify-content: center;
    flex-wrap: wrap;

}
fieldset{
font-family: 'Patrick Hand', cursive;
font-size: 20px;
margin: 10px ;
}